@font-face {
    font-family: 'W95font';
    src: url('fonts/w95font/w95font.woff2') format('woff2'),
         url('fonts/w95font/w95font.woff') format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'W95font';
    src: url('fonts/w95font/w95font-bold.woff2') format('woff2'),
         url('fonts/w95font/w95font-bold.woff') format('woff');
    font-weight: bold;

}

body {

    background: #000000;
    color: darkgreen;
    font-family: 'W95font';font-size: 22px;
    overflow: hidden;
    font-weight : normal;

}

.window {

    height : 22rem;
    width : 36rem;
    background:#C0C0C0;
    border: 1px solid;
    border-color: white #000 #000 white;
    color : black;

}

.window p {

    font-weight: bold;
    margin: 12px;
    text-shadow: black 2px 2px;
    color : white

}

.side-bar {

    flex-direction: column;
    padding-left: 12px;
    display : flex;

}

.window-body button {
    background-color : #C0C0C0;
    font-size: 20px;
    font-family: "W95font";
    margin: 6px;
    width: 128px;
    height: 32px;
    border: 2px solid;
    border-color: white #000 #000 white;

}

.top-bar {

    background-color: #000080;
    color : white;
    padding-left: 12px;
    padding-right: 2px;
    padding-top: 2px;
    height: 32px;
    margin : 2px;
    display: flex;
    align-items: center;

}

.top-bar button {

    color : #C0C0C0;
    background-color : #C0C0C0;
    margin: 2px;

}

.top-bar > .buttons-wrapper {
    
    margin-left: auto;
    display: flex;
}

header {

    background-color: #000080;
    width: 100vw;
    color : white;
    position: fixed;
    font-size: 18px;

}


.main-container {

    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;

}