body {

    background: #000000;
    color: darkgreen;
    font-family: 'Abel';font-size: 22px;

}

.window {

    height : 22rem;
    width : 36rem;
    background:#C0C0C0;
    border: 1px solid;
    border-color: white #000 #000 white;
    color : black;

}

.window p {

    font-size: 28px;
    margin: 12px;
    text-shadow: black 2px 2px;
    color : white;

}

.side-bar {

    display: flex;
    flex-direction: column;
    padding-left: 12px;

}

.window-body button {
    background-color : #C0C0C0;
    font-size: 20px;
    font-family: Abel;
    margin: 6px;
    width: 128px;
    height: 32px;
    border: 2px solid;
    border-color: white #000 #000 white;

}

.top-bar {

    background-color: #000080;
    color : white;
    padding-left: 12px;
    padding-right: 2px;
    height: 32px;

}

.top-bar button {

    color : #C0C0C0;
    background-color : #C0C0C0;
    margin: 2px;
    margin-top: 6px;
    float : right;

}